* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: white;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    background-color: rgb(29, 29, 29);
    height: 10vh;
    box-shadow: -2px 4px 4px 2px rgba(168, 0, 0, 1) ;
    color: white;
}

.buscador {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: end;
}

.titulo {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
}

.buscador nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
}

.buscador nav a {
    color: #DDF2D8;
    text-decoration: none;
    font-size: 20px;
    margin: 6.8%;
}

.buscador nav a:first-child {
    color: rgb(168, 0, 0);
}

.buscador nav a:hover {
    color: rgb(168, 85, 85);
    cursor: pointer;
}

#inicio {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/static/images/inicioBackground.jpg');
    background-size: cover;
    min-height: 80vh;
}

#fondoInicio {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titulo  {
    font-size: 200%;
    padding-top: 10%;
    color: white;
}

#buscar {
    background-color: rgb(168, 0, 0);
    margin-top: 3%;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    width: 30%;
    border-radius: 25px;
}

#buscar a {
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    font-size: 120%;
    color: white;
}

#buscar button:hover {
    cursor: pointer;
}

footer {
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.7) inset;
}

#redes {
    width: 20vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 2% 0 2%;
}

#redes img {
    height: 4vh;
    width: 4vh;
}

#sucess{
    font-size: small !important;
    text-align: center;

}